body {
  .headerNav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 0;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    h1 {
      margin-left: 2rem;
      max-width: 280px;
      color: white;
    }
    p {
      z-index: 1;
      font-size: 1.2rem;
      max-width: 150px;
      a {
        text-decoration: none;
        color: black;
        cursor: pointer;
      }
    }
  }
  .footer {
    width: 100%;
    top: 100%;
    text-align: center;
    background-color: gray;
    padding: 0.5rem 0;
  }
}
